<html>
	<link href="/static/bootstrap.min.css" rel="stylesheet" media="screen">
 <!DOCTYPE html>
<html lang="en">

<head>
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Channels</title>

    <link href="{{ url_for('static', filename='all.min.css')}}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito+sans:800" rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="{{ url_for('static', filename='sb-admin-2.min.css')}}" rel="stylesheet" type="text/css">
  <script src="{{ url_for('static', filename='jquery-3.3.1.min.js')}}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js')}}" type="text/javascript"></script>
</head>

<body id="page-top">
    <h1 class="h1 mb-4 mt-2 text-gray-800 text-center">Channels</h1>
    <div class="container-fluid">

    <div class="row justify-content-center">

      <div class="col-xl-12 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-2">
          <div class="card-body p-0">

            <div class="row">
              <div class="col-xl-8 col-lg-8">
                <div class="p-5">
                  <div class="text-center">
                        {% if conn == False %}
                        
                      <div>
                        <div class="mb-4 mx-2">
                        <div class="card border-left-warning shadow py-2 mb-1">
                        <div class="card-body">
                        <h5 class="text-center text-dark">Offline!</h5>
                        </div>
                         
                        </div>
                        
                        </div>
                       </div>
                        
                        {% else %}
                      
               <ul class="nav nav-pills justify-content-center">
                    <li class="active btn"><a data-toggle="pill" href="#active">Active<span class="text-secondary"> {{ length_of }}</span></a></li>
                    <li class="btn"><a data-toggle="pill" href="#pending">Pending<span class="text-secondary"> {{ length_of_pending }}</span></a></li>
                    <li class="btn"><a data-toggle="pill" href="#closed">Closed<span class="text-secondary"> {{ length_of_closed }}</span></a></li>
               </ul>
  
              <div class="tab-content">
                <div id="active" class="tab-pane fade show active">
                  <div class="mb-4 pre-scrollable mx-2 border rounded-sm">
                        {% for i in range(0,length_of)%}
                    <div class="card border-left-success shadow py-2 mb-1">
                      <div class="card-body">
                        <h5 class="text-left text-dark">Pubkey</h5><h6 class="text-right">{{ channelidentifiers[i][0] }}</h6>
                        <h5 class="text-left text-dark">Channel Point</h5><h6 class="text-right">{{ channelidentifiers[i][5] }}</h6>
                        <h5 class="text-left"><span class="text-dark">Capacity </span><small> ş {{ "{:,}".format(channelidentifiers[i][1]) }}</small></h5>
                        <h5 class="text-left"><span class="text-dark">Local Balance </span><small> ş {{  "{:,}".format(channelidentifiers[i][2]) }}</small></h5>
                        <div class="progress mb-4">
                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{(channelidentifiers[i][2]/channelidentifiers[i][1])*100}}" aria-valuemin="0" aria-valuemax="100" style="width:{{(channelidentifiers[i][2]/channelidentifiers[i][1])*100}}%">
                            </div>
                        </div>
                       </div>
                         
                    </div>
                        {%endfor%}      
                 </div>
                </div>
                <div id="pending" class="tab-pane fade">
                 <div class="mb-4 pre-scrollable mx-2 border rounded-sm">
                        {% for i in range(0,length_of_pending)%}
                    <div class="card border-left-warning shadow py-2 mb-1">
                      <div class="card-body">
                        <h5 class="text-left text-dark">Pubkey</h5><h6 class="text-right">{{ pendingchannelidentifiers[i][0] }}</h6>
                        <h5 class="text-left text-dark">Channel Point</h5><h6 class="text-right">{{ pendingchannelidentifiers[i][1] }}</h6>
                        <h5 class="text-left"><span class="text-dark">Capacity </span><small> ş {{ "{:,}".format(pendingchannelidentifiers[i][2]) }}</small></h5>
                        <h5 class="text-left"><span class="text-dark">Local Balance </span><small> ş {{  "{:,}".format(pendingchannelidentifiers[i][3]) }}</small></h5>
                       </div>
                         
                    </div>
                        {%endfor%}      
                 </div>
                </div>
                
                <div id="closed" class="tab-pane fade">
                  <div class="mb-4 pre-scrollable mx-2 border rounded-sm">
                        {% for i in range(0,length_of_closed)%}
                    <div class="card border-left-danger shadow py-2 mb-1">
                      <div class="card-body">
                        <h5 class="text-left text-dark">Pubkey</h5><h6 class="text-right">{{ closedchannelidentifiers[i][0] }}</h6>
                        <h5 class="text-left text-dark">Channel Point</h5><h6 class="text-right">{{ closedchannelidentifiers[i][1] }}</h6>
                        <h5 class="text-left"><span class="text-dark">Capacity </span><small> ş {{ "{:,}".format(closedchannelidentifiers[i][2]) }}</small></h5>
                        <h5 class="text-left"><span class="text-dark">Settled Balance </span><small> ş {{  "{:,}".format(closedchannelidentifiers[i][4]) }}</small></h5>
                        <h5 class="text-left"><span class="text-dark">Block Height </span><small>{{ closedchannelidentifiers[i][3] }} </small></h5>
                       </div>
                         
                    </div>
                        {%endfor%}      
                 </div>
                </div>
              </div>
            </div>          

                        {%endif%}

                      

                {% if conn == True %}
                <div class="row px-2">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="card border-left-danger shadow">
                    <div class="card-body">
                    <h6 class="text-left text-danger mb-0 mt-0">Total inbound capacity</h6><p class="text-right text-dark"> ş {{ "{:,}".format(incap) }}</p>
                    </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="card border-left-warning shadow">
                    <div class="card-body">
                    <h6 class="text-left text-warning mb-0 mt-0">Total outbound capacity</h6><p class="text-right text-dark"> ş {{ "{:,}".format(outcap) }}</p>
                    </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="card border-left-success shadow">
                    <div class="card-body">
                    <h6 class="text-left text-success mb-0 mt-0">Available funds</h6><p class="text-right text-dark"> ş {{ "{:,}".format(availablefunds) }}</p>
                    </div>
                    </div>
                </div>
                </div>
                {% else %}
                <div class="row px-2">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="card border-left-danger shadow">
                    <div class="card-body">
                    <h6 class="text-left text-danger mb-0 mt-0">Total inbound capacity</h6><p class="text-right text-dark"> Offline!</p>
                    </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">

                    <div class="card border-left-warning shadow">
                    <div class="card-body">
                    <h6 class="text-left text-warning mb-0 mt-0">Total outbound capacity</h6><p class="text-right text-dark"> Offline! </p>
                    </div>
                    </div>

                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">

                    <div class="card border-left-success shadow">
                    <div class="card-body">
                    <h6 class="text-left text-success mb-0 mt-0">Available funds</h6><p class="text-right text-dark"> Offline! </p>
                    </div>
                    </div>

                </div>
                </div>
                {%endif%} 

                </div>
              </div>
              <div class="col-xl-4 col-lg-4">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-2 mt-2">Open New Channel</h1>
                    <p class="mb-4">Input a pubkey and an amount to commit below. To close, input the channel point and leave 'Amount' field blank.</p>
                  </div>
                <form action="{{url_for('channelpage')}}" method="POST">

                 <input placeholder="Pubkey or channel point" name="channelpubkey" class="form-control form-control-user form-group user text-center">
                 <input placeholder="Amount (ş)" name="channelamt" class="form-control form-control-user form-group user text-center w-50">
                 <button type="submit" name="action" value="openchan" class="btn btn-primary btn-user btn-block mb-2 form-group font-weight-bold text-white text-uppercase">Go</button>
                 <button type="submit" name="action" value="" class="btn btn-warning btn-user btn-block mb-2 form-group font-weight-bold text-white text-uppercase disabled">Close</button>
                 <button type="submit" name="action" value="" class="btn btn-danger btn-user btn-block mb-2 form-group font-weight-bold text-white text-uppercase disabled">Force Close</button>

                </form>
                {%if opened == "True" %}
                        <p class="alert alert-success text-center">Channel opening...</p>
                {%elif opened == False %}
                        <p class="alert alert-warning text-center">Couldn't open channel.</p>
                {%elif closed == "pendclose"%}
                        <p class="alert alert-success text-center">Channel closing...</p>
                {%elif closed == "couldntclose"%}
                        <p class="alert alert-warning text-center">Couldn't close channel.</p>
                {%endif%}
                    </div>
                </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>


               


    <div class="container-fluid">
  <div class="row">
        <div class="col-md-6">
			<a type="button" class="btn btn-danger btn-block stretched-link font-weight-bold text-white text-uppercase mb-3" href="{{ url_for('channelpage')}}">Kill Hanging Process</a>
    	</div>
      <div class="col-md-6">
    		<a type="button" class="btn btn-primary btn-block stretched-link font-weight-bold text-white text-uppercase mb-3" href="{{url_for('makepayment')}}">Send Funds</a>
    	</div>
       <div class="col-md-6">
    		<a type="button" class="btn btn-success btn-block stretched-link font-weight-bold text-white text-uppercase mb-3" href="{{ url_for('index')}}">Home</a>
    	</div>
       <div class="col-md-6">
    		<a type="button" class="btn btn-warning btn-block stretched-link font-weight-bold text-white text-uppercase mb-3" href="{{url_for('peerpage')}}">Lightning Peers</a>
    	</div>
  </div>
</div>
</body>
</html>
