<html>
	<link href="/static/bootstrap.min.css" rel="stylesheet" media="screen">
 <!DOCTYPE html>
<html lang="en">

<head>
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Peers</title>

    <link href="{{ url_for('static', filename='all.min.css')}}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link href="{{ url_for('static', filename='sb-admin-2.min.css')}}" rel="stylesheet" type="text/css">
</head>

<body id="page-top">
    <h1 class="h1 mb-4 mt-4 text-gray-800 text-center">Peers</h1>
    <div class="container">

    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">

            <div class="row">
              <div class="col-lg-6">
                 <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-2">Connected Peers</h1>
                    <div class="mb-4 pre-scrollable">{%for i in range(0, len)%} 
  
                        <div class="mb-4">{{show_current_peers[i]}}</div>
{%endfor%} </div>
                  </div>
                  
                </div>
                
                
                </div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-2">Manage Peers</h1>
                    <p class="mb-4">Enter a URI (to connect) or a pubkey (to disconnect) below.</p>
                  </div>
                <form action="{{url_for('peerpage')}}" method="POST">

                 <input placeholder="URI or pubkey" name="text" class="form-control form-control-user form-group user">
                 <button type="submit"  name="action" value="summary" class="btn btn-primary btn-user btn-block mb-2 form-group">Connect</button>
		         <button type="submit" name="action" value="save" class="btn btn-danger btn-user btn-block mb-2 form-group">Disconnect</button>

                </form>
                    

                {%if result == "FalseDis" %}
<p class="alert alert-warning">Couldn't disconnect.</p>
                {%elif result == "FalseCon" %}
<p class="alert alert-warning">Couldn't connect.</p>
                {%elif result == "SuccessDis" %}
<p class="alert alert-success">Successfully disconnected!</p>
                {%elif result == "SuccessCon" %}
<p class="alert alert-success">Successfully connected!</p>
                {%endif%}
                <p class="mb-4 text-center mt-5">Currently connected to {{ length_of }} peer(s).</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
               


    <div class="container-fluid">
  <div class="row">
        <div class="col-md-6">
			<a type="button" class="btn btn-danger btn-block stretched-link font-weight-bold text-white text-uppercase mb-3" href="{{ url_for('peerpage')}}">Kill Hanging Process</a>
    	</div>
      <div class="col-md-6">
    		<a type="button" class="btn btn-primary btn-block stretched-link font-weight-bold text-white text-uppercase mb-3">Send Funds</a>
    	</div>
       <div class="col-md-6">
    		<a type="button" class="btn btn-success btn-block stretched-link font-weight-bold text-white text-uppercase mb-3" href="{{ url_for('index')}}">Home</a>
    	</div>
       <div class="col-md-6">
    		<a type="button" class="btn btn-warning btn-block stretched-link font-weight-bold text-white text-uppercase mb-3">Manage Channels</a>
    	</div>
  </div>
</div>
</body>
</html>
